name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ["3.1", "3.2", "3.3"]
        bundler: [default]
        gemfile:
          - rails6.0
          - rails6.1
          - rails7.0
          - rails7.1
          - rails7.2
          - stripe5
          - stripe6
          - stripe7
          - stripe8
          - stripe9
          - stripe10
          - stripe11
          - stripe12
          - stripe13
        include:
          - { ruby: "2.3", gemfile: "rails3.2", bundler: "1" }
          - { ruby: "2.5", gemfile: "rails5.1", bundler: "default" }
          - { ruby: "2.5", gemfile: "rails5.2", bundler: "default" }
          - { ruby: "2.6", gemfile: "rails5.2", bundler: "default" }
          - { ruby: "2.6", gemfile: "rails6.0", bundler: "default" }
          - { ruby: "2.6", gemfile: "rails6.1", bundler: "default" }
          - { ruby: "2.5", gemfile: "stripe3", bundler: "default" }
          - { ruby: "2.6", gemfile: "stripe3", bundler: "default" }
          - { ruby: "2.7", gemfile: "stripe3", bundler: "default" }
          - { ruby: "2.5", gemfile: "stripe4", bundler: "default" }
          - { ruby: "2.6", gemfile: "stripe4", bundler: "default" }
          - { ruby: "2.7", gemfile: "stripe4", bundler: "default" }

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
      # https://github.com/marketplace/actions/checkout
      - uses: actions/checkout@v4
      # https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: ${{ matrix.bundler }}
          bundler-cache: true # runs `bundle install` and caches gems automatically
      - name: Run tests
        run: bundle exec rake
